<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <form action="/delete" method="POST">
            <% newItems.forEach((newItem)=>{ %>
                <div class="item">
                    <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%= newItem.id %>">
                    <p><%= newItem.name %></p>
                </div>
            <% }) %>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
        
    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="title" value=<%= listTitle %>>+</button>
    </form>
    </div>
    <%- include("footer") -%>
 